*, body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
}
.App {
  background-image: url('./asset/Rectangle.png');
  background-repeat: no-repeat;
  background-size: contain;
}


.icon_star_1 {
  position: absolute;
width: 39px;
height: 39px;
left: 111px;
top: 529px;
}

.icon_start {
  position: absolute;
width: 39px;
height: 39px;
left: 724.14px;
top: 288.93px;
}

/* CSS for header */
.navigation {
  background-color: #2B0A65;
  
}
/* css for main body */
.contain-card {
  display: flex;
}
.img-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 16px;
}

.button-contain {
  display: flex;
  justify-content: flex-end;
}
h1.heavy {
  font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 120%;
}

p{
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #150343;
}
.button-cart {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 12px;
width: 268px;
height: 44px;
background: #A6237B;
border-radius: 60px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.custom-padding {
  padding: 20px, 32px, 40px, 32px;
}

/* style 3 button ở nav-right */
.btn-1 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap: 12px;
width: 115px;
height: 36px;
background: #FFF;
border-radius: 60px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.btn-1 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap: 12px;
width: 115px;
height: 36px;
background: #FFF;
border-radius: 60px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.btn-2 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap: 12px;
width: 115px;
margin : 0px 4px;
height: 36px;
background: #4C148D;
border-radius: 60px;
color: #FFF;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.btn-3 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap:12px;

width: 135px;
height: 36px;
color: #FFF;
background: #A6237B;
border-radius: 60px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.custom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding-nav {
  margin: 34px 0px;
}

.custom-content {
  position: relative;
}
img.image-icon-section {
position: absolute;
width: 62px;
height: 62px;
left: 59px;
top: 215px;

}

/* style footer */
.custom-footer {
  background-color: #150343!important; 
}
.custom-width {
  width: 445px;
}
a.text-reset.text-white {
    text-decoration: none;
}

i.fas.fa-phone.me-3, i.fas.fa-envelope.me-3, i.fas.fa-home.me-3 {
    color: #A6237B;
}

p.text-white {
  color: #DEDBE3!important;
}

button {
  border: none!important;
}
.footer-section {
  background-color: #150343;
}
.card.bg-white.border-0.h-100.custom-padding {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* dropdown button */
a.dropdown-item:visited {
  color: black;
}


ul.dropdown-menu.show>li {
    padding-right: 0px;
}

/* style modal */
.wrap {
  display: flex;
flex-direction: column;
align-items: center;
padding: 40px 48px;
gap: 32px;


width: 630px;
height: 481px;


background: #FFFFFF;
border-radius: 8px;

}
.modal-dialog {
  display: flex;
}
.contain-modal { 
  display: flex;
  pointer-events: auto;
}
.img_close {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.content1 {
  font-weight: 700;
  font-size: 20px;
  color: #050020;
}
.content2 {
  color: #6C6971;
  font-weight: 400;
  font-size: 16px;
}
.call_me_back {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 12px;

width: 189px;
height: 44px;
background: #A6237B;
border-radius: 60px;
align-self: stretch;
flex-grow: 0;
color: #FFFFFF;
font-weight: 700;
font-size: 20px;
}
.contatent-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* style tel info */
.tel-info {
  box-sizing: border-box;

display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

width: 391px;
height: 48px;

background: #FFFFFF;

border: 1px solid #D4D1D9;
border-radius: 6px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

/* style active navbar */
li.nav-item:active {
  background-color: #FFFFFF;
}
a.nav-link.active.text-white:active {
  color: #050020!important;
}
a.nav-link.text-white:active {
  color: #050020!important;
}
li.nav-item.dropdown.custom-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-size-language {
  width: 16px;
  height: 16px;
}
li.nav-item {
  padding-right: 20px;
}
.custom-flex { 
  display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
li.nav-item.dropdown {
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}